<div id="search-component">
  <h4><label for="search-box">Course Search</label></h4>
  <label for="search-box">subject:</label>
  <input #searchBox1 id="search-box-subject" [(ngModel)] = "subject" />
  <label for="search-box">catalog_nbr:</label>
  <input #searchBox2 id="search-box-catalog_nbr" [(ngModel)] = "catalog_nbr"/>
  <button (click) = "searchCourse()">search for the course</button>
  <table class="search-result">
      <tr>
          <th>Subject</th>
          <th>Catalog_nbr</th>
          <th>Classname</th>
          <th>Class_section</th>
          <th>Ssr_component</th>
      </tr>
    <tr *ngFor="let course of courses$ | async" >
        <td>{{course.subject}}</td>
        <td>{{course.catalog_nbr}}</td>
        <td>{{course.className}}</td>
        <td>{{course.course_info[0].class_section}}</td>
        <td>{{course.course_info[0].ssr_component}}</td>
        <button (click) = "onSelect(course)">show more info</button>
    </tr>
  </table>

  <div *ngIf = "selectedCourse">
  	<table class="search-result">
  	  <tr>
          <th>Subject</th>
          <th>Catalog_nbr</th>
          <th>Classname</th>
          <th>Class_section</th>
          <th>Ssr_component</th>
          <th>class_nbr</th>
    	  <th>start_time</th>
	      <th>descrlong</th>
	      <th>end_time</th>
	      <th>campus</th>
	      <th>facility_ID</th>
	      <th>days</th>
	      <th>instructors</th>
	      <th>class_section</th>
	      <th>ssr_component</th>
	      <th>enrl_stat</th>
	      <th>descr</th>
	      <th>catalog_description</th>
      </tr>
      <tr>
      	  <td>{{selectedCourse.subject}}</td>
          <td>{{selectedCourse.catalog_nbr}}</td>
          <td>{{selectedCourse.className}}</td>
          <td>{{selectedCourse.course_info[0].class_section}}</td>
          <td>{{selectedCourse.course_info[0].ssr_component}}</td>
          <td>{{selectedCourse.course_info[0].class_nbr}}</td>
          <td>{{selectedCourse.course_info[0].start_time}}</td>
          <td>{{selectedCourse.course_info[0].descrlong}}</td> 
          <td>{{selectedCourse.course_info[0].end_time}}</td>
          <td>{{selectedCourse.course_info[0].campus}}</td>
          <td>{{selectedCourse.course_info[0].facility_ID}}</td>
          <td>{{selectedCourse.course_info[0].days}}</td>
          <td>{{selectedCourse.course_info[0].instructors}}</td>
          <td>{{selectedCourse.course_info[0].class_section}}</td>
          <td>{{selectedCourse.course_info[0].ssr_component}}</td> 
          <td>{{selectedCourse.course_info[0].enrl_stat}}</td>
          <td>{{selectedCourse.course_info[0].descr}}</td>
          <td>{{selectedCourse.catalog_description}}</td>           	
      </tr>
 	</table>
  <div *ngIf = "reviews$">
    <table class="search-result">
      <tr>
          <th>Reviewer</th>
          <th>Time</th>
          <th>Content</th>
      </tr>
      <tr *ngFor="let r of reviews$ | async" >
        <td>{{r.creator}}</td>
        <td>{{r.modified_time}}</td>
        <td>{{r.content}}</td>
      </tr>
    </table>  
 </div>
</div>