<div *ngIf = "!user">
<h4><label for="search-box">Login</label></h4>
<label for="search-box">username:</label>
<input id="search-box-subject" [(ngModel)] = "username" />
<label for="search-box">password:</label>
<input id="search-box-catalog_nbr" [(ngModel)] = "password"/>
<button (click) ="login()">login</button>
<button (click) ="signInWithGoogle()">login with Google</button>
</div>

<div *ngIf = "user">
	<h4> Welcome, {{user}}</h4>
	<button (click) = "onSelectAdd()">Add a new schedule</button>
	<button (click) = "onSelectShow()">Show all my schedules</button>

	<table *ngIf = "scheduleadding" class="schedule-adding">
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Visibility</th>
      </tr>
      <tr>
      	 <td><input [(ngModel)] = "schedule_name"></td>
      	 <td><input [(ngModel)] = "schedule_description" ></td>
      	 <td><input [(ngModel)] = "schedule_visibility"></td>
      </tr>
      <button (click) = "addNewSchedule()">submit</button>
 	</table>

 	<table *ngIf = "scheduleediting" class="schedule-editing">
 		<tr>
          <th>Name</th>
          <th>Description</th>
          <th>Visibility</th>
      	</tr>
      <tr>
      	 <td></td>
      	 <td></td>
      	 <td><input [(ngModel)] = "schedule_visibility"></td>
      </tr>
      <tr>
      	  <th>Subject</th>
          <th>Catalog_nbr</th>
          <th>Start_time</th>
          <th>End_time</th>
          <th>Term</th>
          <th>Year</th>
          <td><button (click) = "addNewLine()">Add a new course</button></td>
      </tr>
 	</table>

 	<table *ngIf = "schedules$">
 		<tr>
          <th>Name</th>
          <th>Description</th>
          <th>Visibility</th>
          <th>Last modified time</th>
      	</tr>
      	<tr *ngFor = "let s of schedules$ | async">
      	  <td>{{s[0].name}}</td>
      	  <td>{{s[0].description}}</td>
      	  <td>{{s[0].visibility}}</td>
      	  <td>{{s[0].modified_time}}</td>
      	  <button *ngIf = "!selectedSchedule" (click) = "onSelectSchedule(s)">Edit this schedule</button>
      	</tr>
 	</table>

 	<div *ngIf = "selectedSchedule">
 	<table>
 	 <tr>
          <th>Subject</th>
          <th>Catalog_nbr</th>
          <th>Start_time</th>
          <th>End_time</th>
          <th>Term</th>
          <th>Year</th>
     </tr>
     <tr *ngFor="let c of selectedSchedule| slice: 1" >
        <td>{{c.subject}}</td>
        <td>{{c.catalog_nbr}}</td>
        <td>{{c.start_time}}</td>
        <td>{{c.end_time}}</td>
        <td>{{c.term}}</td>
        <td>{{c.year}}</td>   
     </tr>
    <button (click) = "offSelectSchedule(s)">Undo editing</button>
    <button>Confirm editing</button>
   </table> 
 </div>
</div>

<div class = "messagearea" *ngIf = "errmsg"><p>{{errmsg}}</div>
<button (click)="logout()">logout</button>
