<div *ngIf = "!user">
<h4><label for="search-box">Login</label></h4>
<label for="search-box">username:</label>
<input id="search-box-subject" [(ngModel)] = "username" />
<label for="search-box">password:</label>
<input id="search-box-catalog_nbr" [(ngModel)] = "password"/>
<button (click) ="login()">login</button>
<button (click) ="signInWithGoogle()">login with Google</button>
<div class = "messagearea" *ngIf = "errmsg"><p>{{errmsg}}</div>
</div>

<div *ngIf = "user">
	<h4> Welcome, {{user}}</h4>
	<button (click) = "onSelectAdd()">Add a new schedule</button>
	<button (click) = "onSelectShow()">Show all my schedules</button>
  <button (click) = "onSelectReview()">Add a review</button>
  <div *ngIf = "level == 'admin'">
    <button (click) = "checkUsers()">Check all the users</button>
    <button (click) = "checkReviews()">Check all the reviews</button> 
  </div>
	<table *ngIf = "scheduleadding" class="schedule-adding">
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Visibility</th>
      </tr>
      <tr>
      	 <td><input [(ngModel)] = "schedule_name"></td>
      	 <td><input [(ngModel)] = "schedule_description" ></td>
      	 <td><input [(ngModel)] = "schedule_visibility"></td>
      </tr>
      <button (click) = "addNewSchedule()">submit</button>
 	</table>

 	<table *ngIf = "schedules$">
 		<tr>
          <th>Name</th>
          <th>Description</th>
          <th>Visibility</th>
          <th>Last modified time</th>
      	</tr>
      	<tr *ngFor = "let s of schedules$ | async">
      	  <td>{{s[0].name}}</td>
      	  <td>{{s[0].description}}</td>
      	  <td>{{s[0].visibility}}</td>
      	  <td>{{s[0].modified_time}}</td>
      	  <button *ngIf = "!selectedSchedule" (click) = "onSelectSchedule(s)">Edit this schedule</button>
      	  <button (click) = "deleteSchedule(s)">Delete this schedule</button>
      	</tr>
 	</table>

 	<div *ngIf = "selectedSchedule">
 	<table>
 	 <tr>
          <th>Subject</th>
          <th>Catalog_nbr</th>
          <th>Start_time</th>
          <th>End_time</th>
          <th>Term</th>
          <th>Year</th>
     </tr>
     <tr *ngFor="let c of selectedSchedule| slice: 1" >
        <td><input [(ngModel)] = "c.subject"></td>
        <td><input [(ngModel)] = "c.catalog_nbr"></td>
        <td><input [(ngModel)] = "c.start_time"></td>
        <td><input [(ngModel)] = "c.end_time"></td>
        <td><input [(ngModel)] = "c.term"></td>
        <td><input [(ngModel)] = "c.year"></td>
        <button (click) = "deleteCourse(c)">Delete this course</button>   
     </tr>
     <Label>Description</Label>
     <input [(ngModel)] = "selectedSchedule[0].description">
     <label>Visibilty</label>
     <input [(ngModel)] = "selectedSchedule[0].visibility">
     <button (click) = "addNewLine(selectedSchedule)">Add a new course</button>
    <button (click) = "offSelectSchedule(s)">Cancel editing</button>
    <button (click) = "confirmEdit()">Confirm editing</button>
   </table> 
 </div>

 <div *ngIf = "reviewadding">
  <label> Subject</label>
  <input [(ngModel)] = "reviewSubject">
  <label> Catalog_nbr</label>
  <input [(ngModel)] = "reviewCatalog">
  <label> Content</label>
  <input [(ngModel)] = "reviewContent">
  <button (click) = "addReview()">Submit review</button>
 </div>

 <div *ngIf = "usershowing">
  <table>
      <tr>
          <th>Email</th>
          <th>Level</th>
          <th>Status</th>
     </tr>
     <tr *ngFor="let u of users$ | async" >
        <td>{{u.username}}</td>
        <td>{{u.level}}</td>
        <td>{{u.status}}</td>
        <td><button *ngIf = "u.status == 'inactive'" (click) = "activateUser(u)">Activate this user</button></td>
        <td><button *ngIf = "u.status == 'active'" (click) = "deactivateUser(u)">Deactivate this user</button></td>
        <td><button (click) = "grantAdmin(u)">Grant admin privilige</button></td>
     </tr>
  </table>
 </div>

 <div *ngIf = "reviewshowing">
  <table>
      <tr>
          <th>Subject</th>
          <th>Catalog_nbr</th>
          <th>Creator</th>
          <th>Content</th>
          <th>Modified_time</th>
          <th>Visibility</th>
     </tr>
     <tr *ngFor="let r of reviews$ | async" >
        <td>{{r.subject}}</td>
        <td>{{r.catalog_nbr}}</td>
        <td>{{r.creator}}</td>
        <td>{{r.content}}</td>
        <td>{{r.modified_time}}</td>
        <td>{{r.visibility}}</td>
        <td><button *ngIf = "r.visibility == 'public'" (click) = "hideReview(r)">Hide this review</button></td>
        <td><button *ngIf = "r.visibility == 'hidden'" (click) = "publicReivew(r)">Public this review</button></td>
     </tr>
  </table>
        
 </div>
 <button (click)="logout()">logout</button>
</div>


